:root {
    --main-color: #fff;
    --font-color: #26cc10;
    --font-bg: #818a7f;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.search-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    color: var(--font-color);
    font-size: 1.8em;
    margin: 5px;
    width: 50%;
}

::placeholder {
    color: var(--font-bg);
    font-size: .5em;
    opacity: .5;
}

#search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
#search, #clear-history {
    color: var(--font-color);
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

#history {
    display: flex;
    gap: .5em;
    font-size: .8em;
}

.box {
    border: 2px solid var(--font-color);
    padding: 10px;
    display: block;
    cursor: pointer;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.result div {
    margin-bottom: 5px;

}
