
:root {
    --main-color: #fff;
    --font-color: #26cc10;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */

    height: 100vh;
}
#searchInput {
    color: var(--font-color);
    font-size: 2em;
}

::placeholder {
    color: var(--font-color);
}

#search {
    color: var(--font-color);
    cursor: pointer;
    font-size: 2em;
    margin: 10px;
}

#history {
    display: flex;
    gap: .5em;
    font-size: .8em;
}

.box {
    border: 2px solid var(--font-color);
    padding: 10px;
    display: block;
}