*, ::after, ::before {
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}
#searchInput {
    font-size: 2em;
}

#search {
    cursor: pointer;
    font-size: 2em;
    margin: 10px;
}